section#equipe{
  background-image: url("/images/equipe/PatternLoop.jpg");
  height:calc(100%);
  .fundo{
    background-image: url("/images/equipe/PatternRadial.png");
    height:calc(100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .altura{
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    .titulo{
      color: white;
      font-size: 1.5em;
      position: absolute;
      top: 60px;
      left: 23px;
      right: initial;
    }
    .ph, .wads, .lg{
      display: inline-block;
      position: relative;
      span{
        text-align: left;
        color:white;
        position: absolute;
        &.nome{ display:block; bottom: 30px; }
        &.cargo{ display:block; bottom: 10px; }
      }
    }
    .ph{

    }
    .wads{
      top: 0;
      span{
        &.nome{ margin: initial; top: 0; right: 0; }
        &.cargo{ margin: initial; top: 20px; right: 0; }
      }
    }
    .lg{
      span{ right: 0; }
    }
  }
  /* CSS screen SM (768px - 991px) */
  @media screen and (min-width: $screen-sm){
    .fundo{
      .titulo{
        top: -50px;
        left: 0;
        right: 0;
      }
      .wads{
        top: 60px;
        span{
          &.nome{ bottom: -15px; margin: 0px 76px; top: initial;}
          &.cargo{ bottom: -34px; margin: 0px 85px; top: initial;}
        }
      }
    }
  }
  /* CSS screen MD (992px - 1199px) */
  @media screen and (min-width: $screen-md){

  }
  /* CSS screen LG ( >1200px) */
  @media screen and (min-width: $screen-lg){

  }
}
