body, html{ margin: 0; height: 100%; font-family: "TitilliumBold";}
body{

  #menu{
    min-height: 50px;
    img{ width: 50px; height: 50px; }
    .navbar-brand{ margin-left: 0; padding: 0; }
  }
  // #menu{
  //   position: fixed;
  //   max-height: 50px;
  //   margin-bottom: 0px;
  //   .container-fluid{
  //     height: 50px;
  //   }
  //   p{
  //     &.image{ margin-top: 0px; }
  //     &.login{ margin-right: 15px; }
  //     &.cadastro{
  //       margin-right: 15px;
  //       a, a:hover{
  //         color: #777;
  //         text-decoration: none;
  //       }
  //     }
  //     img{
  //       width: 50px;
  //       height: 50px;
  //     }
  //   }
    // ul.dropdown-menu{
    //   left: initial;
    //   right: 30px;
    //   top: 45px;
    //   input, button{
    //     display: block;
    //     padding: 10px;
    //     margin: 5px;
    //     width: 170px;
    //   }
    // }
  // }

  .container-fluid{
    .topo{
      margin-top: -20px;
    }
  }

  #corpo{
    margin-top: 50px;

    #banner-j5{
      background-image: url("/images/banner/BG_1280x1024.png");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center top;
      background-size: cover;
      height: 500px;
      max-height: 500px;
      overflow: hidden;
      position: relative;

      .agramon, .smoke-esquerda, .diego, .smoke-direita, .logo, .smoke-frente{
        position: absolute;
        bottom: 0px;
        img{ height: 500px; }
      }
      .agramon,.smoke-esquerda{
        left: 0px;
      }
      .diego, .smoke-direita{
        right: 0px;
      }
      .smoke-frente{
        width: 100%;
        img{width: 100%; height: 300px;}
      }
      .agramon{
         top:0px;
         img{ height: 500px; }
       }
       .diego{
         top:0px;
         img{ height: 500px; }
       }
      .logo{
        left: calc(50% - 100px);
        .logo-j5{
          position: absolute;
          left: 38px;
          top: 38px;
          img{ height: 135px; }
        }
        .logo-Background{
          img{ height: 200px; }
        }
        .logo-detail{
          img{ height: 70px; }
        }
      }
    }

    #registro, #cadastro-games{
      margin-top: 50px;
      color: #777;
      .campo_cadastro{
        text-align: right;
        margin: 15px auto;
        width: 515px;
        span, input, select{
          display: inline-block;
        }
        span{
          margin-right: 15px;
        }
        input, select{
          width: 300px;
        }
        &.botao{
          text-align: center;
        }
      }
    }



  }
}
